body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1D0E37;
    color: #EF8EC8;
}

header {
    background-color: #7444C7;
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #822797;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #7444C7;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    overflow-x: auto;
}

.gallery img {
    margin-right: 10px;
}

.videos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.videos iframe {
    width: 48%;
    margin-bottom: 10px;
}
